@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "global/normalize";
@import "global/null";
@import "global/variables";
@import "global/mixins";

body {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
}
.excel {
	position: relative;
	color: #888;
	height: 100%;
	max-width: 100%;
	font-size: 0.8rem;
}

// Blocks
@import "blocks/header";
@import "blocks/toolbar";
@import "blocks/formula";
@import "blocks/table";
@import "blocks/dashboard";

// Blocks

//media
@import "global/media";
//media
